/*
 * esp32meteostation
 * secrets file
 * Author: Tomas Weber
 * Date: 18/06/22
 */

// WiFi
const char* wifiSsid        = "WiFi SSID";
const char* wifiPassword    = "WiFi Password";
const char* wifiHostname    = "esp32meteo";
// MQTT
const char* mqttBroker      = "mqtt.example.com"; //or 192.168.1.10...
const char* mqttUser        = "Mqtt User";
const char* mattPassword    = "Mqtt Password";